@model Connection360.Web.ViewModel.HomeViewModel
@{
    ViewBag.Title = "Index";
}

<table class="table table-bordered table-responsive table-hover">
    <tr>

        <th>@Html.DisplayNameFor(model=>model.Brands)</th>
       

        </tr>
    
</table>  